.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.menuNavegable{background-color: chocolate;
margin-top: 0px;
width: 100%;
font-size: calc(10px + 2vmin);
}

.cart-widget {
  color: black;
  font-size: 30px;
}

img {width: 54%;
height: 65%;}

.firstItemCount{
  border-style: double;
  border-color: black;
  border-radius: 50px;
  width: 520px;
  height: 590px;
  position: relative;
  left: 620px;
}

output{width: 100px;
height: 35px;
border-style: groove;
border-color: black;}

.catalogo{display: flex;
  flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

.cart-widget {text-decoration: none;}

.card {margin: 30px 30px 30px 30px;}

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 800px;
  margin-left: 400px;
}

.checkout {
  background-color: chocolate;
}